main.MainWrap 
    h1.MainWrapH1 
        | Hello Evano 👋🏼,
    section.MainWrapContent
        div.MainWrapContentHead 
            div.MainWrapContentHeadText
                h2 
                    |All Customers 
                h4 
                    |Active Members
            div.MainWrapContentHeadSearch
                img(src="../svgImages/MagGlass.svg")
                input(type="text", placeholder="Search")
        table.MainWrapContentTable
            thead
                tr
                    th Customer Name
                    th Company
                    th Phone Number
                    th Email
                    th Country
                    th Status
            tbody
                tr
                    td Jane Cooper
                    td Microsoft
                    td (225) 555-0118
                    td jane@microsoft.com
                    td United States
                    td.Active Active
                tr
                    td Floyd Miles
                    td Yahoo
                    td (205) 555-0100
                    td floyd@yahoo.com
                    td Kiribati
                    td.InActive Inactive
                tr
                    td Ronald Richards
                    td Adobe
                    td (302) 555-0107
                    td ronald@adobe.com
                    td Israel
                    td.InActive Inactive
                tr
                    td Marvin McKinney
                    td Tesla
                    td (252) 555-0126
                    td marvin@tesla.com
                    td Iran
                    td.Active Active
                tr
                    td Jane Cooper
                    td Microsoft
                    td (225) 555-0118
                    td jane@microsoft.com
                    td United States
                    td.Active Active
                tr
                    td Jerome Bell
                    td Google
                    td (629) 555-0129
                    td jerome@google.com
                    td Réunion
                    td.Active Active
                tr
                    td Kathryn Murphy
                    td Microsoft
                    td (406) 555-0120
                    td kathryn@microsoft.com
                    td Curaçao
                    td.Active Active
                tr
                    td Jacob Jones
                    td Yahoo
                    td (208) 555-0112
                    td jacob@yahoo.com
                    td Brazil
                    td.Active Active
                tr
                    td Kristin Watson
                    td Facebook
                    td (704) 555-0127
                    td kristin@facebook.com
                    td Åland Islands
                    td.InActive Inactive