doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        aside.leftMenuWrap
            header.leftMenuWrapLogo
                img(src="../svgImages/dashBoard.svg").leftMenuWrapLogoImg
                div.leftMenuWrapLogoText
                    h1.leftMenuWrapLogoTextName 
                        |Dashboard 
                    h6.leftMenuWrapLogoTextVer
                        |v.01
            nav.leftMenuWrapNavi
                li
                    div
                        img(src="../svgImages/key.svg")
                        h3 
                            |Dashboard
                li
                    div
                        img(src="../svgImages/box.svg")
                        h3 
                            |Product
                li
                    div
                        img(src="../svgImages/Personal.svg")
                        h3 
                            |Customers
                    img(src="../svgImages/arrowRight.svg")
                li
                    div
                        img(src="../svgImages/Money.svg")
                        h3
                            |Income
                    img(src="../svgImages/arrowRight.svg")
                li
                    div
                        img(src="../svgImages/Shares.svg")
                        h3
                            |Promote
                    img(src="../svgImages/arrowRight.svg")
                li
                    div
                        img(src="../svgImages/QA.svg")
                        h3
                            |Help
                    img(src="../svgImages/arrowRight.svg")