* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

nav li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "PoppinsBold";
  src: url("./fonts/Poppins/Poppins-Bold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PoppinsNormal";
  src: url("./fonts/Poppins/Poppins-Medium.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgb(250, 251, 255);
}

.leftMenuWrap {
  position: relative;
  z-index: 1;
  background-color: white;
  width: 306px;
  height: 1198px;
  padding: 36px 28px;
}
.leftMenuWrapLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11.5px;
  margin-bottom: 53px;
}
.leftMenuWrapLogoText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 4px;
}
.leftMenuWrapLogoTextName {
  font-family: PoppinsBold, Arial;
  font-size: 2.6em;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 1%;
  text-align: left;
}
.leftMenuWrapLogoTextVer {
  color: rgb(131, 131, 131);
  font-family: PoppinsNormal;
  font-size: 1em;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -1%;
  text-align: left;
  margin-bottom: 7px;
}
.leftMenuWrapSec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90%;
}
.leftMenuWrapSecNavi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.leftMenuWrapSecNavi li {
  cursor: pointer;
  padding: 0 13px;
  width: 250px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.leftMenuWrapSecNavi li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.leftMenuWrapSecNavi li div h3 {
  color: rgb(145, 151, 179);
  font-family: PoppinsNormal;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -1%;
  text-align: left;
}
.leftMenuWrapSecNavi li:nth-child(3) {
  border-radius: 8px;
  background: rgb(89, 50, 234);
}
.leftMenuWrapSecNavi li:nth-child(3) h3 {
  color: white;
}
.leftMenuWrapSecCab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.leftMenuWrapSecCab div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.leftMenuWrapSecCab div h3 {
  font-family: PoppinsBold;
  font-size: 1.4em;
}
.leftMenuWrapSecCab div h4 {
  font-family: PoppinsNormal;
  color: rgb(117, 117, 117);
  font-size: 1.2em;
}

.MainWrapH1 {
  font-family: PoppinsNormal;
  font-size: 2.4em;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0%;
  padding: 41px 71px 29px 71px;
}
.MainWrapContent {
  width: 968px;
  height: 812px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
          box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  background: rgb(255, 255, 255);
}
.MainWrapContentHead {
  padding: 30px 53px 40px 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.MainWrapContentHeadText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}
.MainWrapContentHeadText h2 {
  font-family: PoppinsBold;
  font-size: 2.2em;
  letter-spacing: -1%;
  text-align: left;
}
.MainWrapContentHeadText h4 {
  color: rgb(22, 192, 152);
  font-family: PoppinsNormal;
  font-size: 1.4em;
  letter-spacing: -1%;
}
.MainWrapContentHeadSearch {
  padding: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 216px;
  height: 38px;
  border-radius: 10px;
  gap: 8px;
  background: rgb(249, 251, 255);
}
.MainWrapContentHeadSearch img {
  cursor: pointer;
}
.MainWrapContentHeadSearch input {
  color: rgb(181, 183, 192);
  background-color: transparent;
  font-family: PoppinsNormal;
  font-size: 1.2em;
  line-height: 18px;
}
.MainWrapContentTable {
  padding: 30px 53px 40px 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.MainWrapContentTable thead th {
  text-align: left;
  padding: 13px 0;
  color: rgb(181, 183, 192);
  font-family: PoppinsNormal;
  font-size: 1.4em;
  text-align: left;
  border: 2px solid blue;
}
.MainWrapContentTable tbody {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.MainWrapContentTable tbody td {
  text-align: left;
  color: rgb(41, 45, 50);
  font-family: PoppinsNormal;
  font-size: 1.4em;
  letter-spacing: -1%;
  border: 1px solid #000;
}
.MainWrapContentTable tr {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 10px 0;
}