* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
ul li {
  list-style: none;
}
ol li {
  list-style: none;
}
nav li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

//fonts
@font-face {
  font-family: "PoppinsBold";
  src: url("./fonts/Poppins/Poppins-Bold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PoppinsNormal";
  src: url("./fonts/Poppins/Poppins-Medium.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  background: rgb(250, 251, 255);
}

.leftMenuWrap {
  position: relative;
  z-index: 1;
  background-color: white;
  //border: 2px solid red;
  width: 306px;
  height: 1198px;
  padding: 36px 28px;
  &Logo {
    display: flex;
    align-items: center;
    gap: 11.5px;
    margin-bottom: 53px;
    &Text {
      display: flex;
      align-items: end;
      gap: 4px;
      &Name {
        font-family: PoppinsBold, Arial;
        font-size: 2.6em;
        font-weight: 600;
        line-height: 39px;
        letter-spacing: 1%;
        text-align: left;
      }
      &Ver {
        color: rgb(131, 131, 131);
        font-family: PoppinsNormal;
        font-size: 1em;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: -1%;
        text-align: left;
        margin-bottom: 7px;
      }
    }
  }
  &Sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    &Navi {
      display: flex;
      flex-direction: column;
      gap: 16px;
      li {
        cursor: pointer;
        padding: 0 13px;
        width: 250px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
          display: flex;
          align-items: center;
          gap: 15px;
          h3 {
            color: rgb(145, 151, 179);
            font-family: PoppinsNormal;
            font-size: 1.4em;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: -1%;
            text-align: left;
          }
        }
      }
    }
    &Navi li:nth-child(3) {
      border-radius: 8px;
      background: rgb(89, 50, 234);
      h3 {
        color: white;
      }
    }
    &Cab {
      display: flex;
      align-items: center;
      gap: 12px;
      div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        h3 {
          font-family: PoppinsBold;
          font-size: 1.4em;
        }
        h4 {
          font-family: PoppinsNormal;
          color: rgb(117, 117, 117);
          font-size: 1.2em;
        }
      }
    }
  }
}

.MainWrap {
  &H1 {
    font-family: PoppinsNormal;
    font-size: 2.4em;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;
    padding: 41px 71px 29px 71px;
  }
  &Content {
    //transform: translateX(-28px);
    width: 968px;
    height: 812px;
    border-radius: 30px;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
    background: rgb(255, 255, 255);
    &Head {
      padding: 30px 53px 40px 38px;
      display: flex;
      justify-content: space-between;
      &Text {
        display: flex;
        flex-direction: column;
        gap: 7px;
        h2 {
          font-family: PoppinsBold;
          font-size: 2.2em;
          letter-spacing: -1%;
          text-align: left;
        }
        h4 {
          color: rgb(22, 192, 152);
          font-family: PoppinsNormal;
          font-size: 1.4em;
          letter-spacing: -1%;
        }
      }
      &Search {
        padding: 11px;
        display: flex;
        align-items: center;
        width: 216px;
        height: 38px;
        border-radius: 10px;
        gap: 8px;
        background: rgb(249, 251, 255);
        img {
          cursor: pointer;
        }
        input {
          color: rgb(181, 183, 192);
          background-color: transparent;
          font-family: PoppinsNormal;
          font-size: 1.2em;
          line-height: 18px;
        }
      }
    }
    &Table {
      padding: 30px 53px 40px 38px;
      display: flex;
      width: 100%;
      flex-direction: column;
      thead {
        border-bottom: 1px solid black;
      }
      tbody tr {
        border-bottom: 1px solid black;
      }
      thead th {
        text-align: left;
        padding: 13px 0;
        color: rgb(181, 183, 192);
        font-family: PoppinsNormal;
        font-size: 1.4em;
        text-align: start;
        transform: translateX(-2px);
      }
      thead th:nth-child(1) {
        width: 148px;
      }
      thead th:nth-child(2) {
        width: 100px;
      }
      thead th:nth-child(3) {
        width: 145px;
      }
      thead th:nth-child(4) {
        width: 200px;
      }
      thead th:nth-child(5) {
        width: 205px;
      }
      thead th:nth-child(6) {
        width: 50px;
      }
      tbody tr {
        display: flex;
        justify-content: start;
        align-items: center;
      }
      tbody td {
        color: rgb(41, 45, 50);
        padding: 14px 0;
        font-family: PoppinsNormal;
        font-size: 1.4em;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: -1%;
        text-align: left;
      }
      tbody td:nth-child(1) {
        width: 150px;
      }
      tbody td:nth-child(2) {
        width: 100px;
      }
      tbody td:nth-child(3) {
        width: 150px;
      }
      tbody td:nth-child(4) {
        width: 200px;
      }
      tbody td:nth-child(5) {
        width: 190px;
      }

      .Active {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 29px;
        box-sizing: border-box;
        border: 1px solid rgb(0, 176, 135);
        border-radius: 4px;
        background: rgba(22, 192, 152, 0.38);
        color: rgb(0, 135, 103);
      }
      .InActive {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 29px;
        box-sizing: border-box;
        border: 1px solid rgb(223, 4, 4);
        border-radius: 4px;
        background: rgb(255, 197, 197);
        color: rgb(223, 4, 4);
      }
    }
    &Down {
      padding: 30px 53px 40px 38px;
      display: flex;
      justify-content: space-between;
      h3 {
        color: rgb(181, 183, 192);
        font-family: PoppinsNormal;
        font-size: 1.4em;
        letter-spacing: -1%;
      }
      nav {
        display: flex;
        align-items: center;
        gap: 12px;
        li {
          cursor: pointer;
          box-sizing: border-box;
          border: 1px solid rgb(238, 238, 238);
          border-radius: 4px;
          font-size: 1.2em;
          font-family: PoppinsNormal;
          background: rgb(245, 245, 245);
          width: 25px;
          height: 24px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 6px 9px 6px 9px;
        }
        li:nth-child(2) {
          cursor: pointer;
          box-sizing: border-box;
          border: 1px solid rgb(89, 50, 234);
          border-radius: 4px;
          color: white;
          background: rgb(89, 50, 234);
        }
      }
    }
  }
}
